<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutus.css">
    <%- include("css.ejs") %>
</head>
<body>
<%- include("search_home.ejs")%>
<%- include("header.ejs") %>
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-4">-->
<!--            <div>-->
<!--                <img src="/carworld/cre1.jpg">-->
<!--            </div>-->
<!--            <div class="text12">-->
<!--                <p>Nguyen Quang Thai <i class="glyphicon glyphicon-calendar"></i> 73K <i class="glyphicon glyphicon-comment">17K</i></p>-->
<!--                <div style="font-size: 23px;font-weight: bold" >Selling Your New Cars?</div>-->
<!--                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy,</p>-->
<!--            </div>-->
<!--        </div>-->


<!--        <div class="col-md-4">-->
<!--            <div>-->
<!--                <img src="/carworld/cre2.jpg">-->
<!--            </div>-->
<!--            <div class="text12">-->
<!--                <p> Pham Duy Hung <i id="mot" class="glyphicon glyphicon-calendar"></i> 24K <i id="mot" class="glyphicon glyphicon-comment"></i>12K</p>-->
<!--                <div style="font-size: 23px;font-weight: bold" >Find Your Dream Car</div>-->
<!--                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy,</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4">-->
<!--            <div>-->
<!--                <img src="/carworld/cre3.jpg">-->
<!--            </div>-->
<!--            <div class="text12">-->
<!--                <p>Ha Hoang Hung <i id="mot" class="glyphicon glyphicon-calendar"></i> 73K <i id="mot" class="glyphicon glyphicon-comment"></i>17K</p>-->
<!--                <div style="font-size: 23px;font-weight: bold" >Buying a Best Sports Car</div>-->
<!--                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy,</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col-md-4">-->
<!--            <div>-->
<!--                <img src="/carworld/audi.jpg">-->
<!--            </div>-->
<!--            <div class="text12">-->
<!--                <p>Tran Van Thanh <i id="mot" class="glyphicon glyphicon-calendar"></i> 64K <i id="mot" class="glyphicon glyphicon-comment"></i>22K</p>-->
<!--                <div style="font-size: 23px;font-weight: bold" >Try get a new car</div>-->
<!--                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy,</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <div>-->
<!--                <img  src="/carworld/bmw.jpg">-->
<!--            </div>-->
<!--            <p>Maria Blank <i id="mot" class="glyphicon glyphicon-calendar"></i> 12K <i id="mot" class="glyphicon glyphicon-comment"></i>15K</p>-->
<!--            <div style="font-size: 23px;font-weight: bold" > Sports Car</div>-->
<!--            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy,</p>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--            <div>-->
<!--                <img  src="/carworld/merc.jpg">-->
<!--            </div>-->
<!--            <div class="text12">-->
<!--                <p>Maria Blank <i class="glyphicon glyphicon-calendar"></i> 98K <i class="glyphicon glyphicon-comment"></i>54K</p>-->

<!--                <div style="font-size: 23px;font-weight: bold" >Buying a Best Sports Car</div>-->
<!--                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy,</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="welcome">
    <div class="row">
        <div class="col-sm-6">
            <img src="http://velikorodnov.com/html/autotrader/images/555x355_img1@2x.jpg" alt="" width="555" height="355">
        </div>
        <div class="col-sm-6">
            <h2><b>Welcome to CARRIO MOTOR</b></h2>
            <p class="text-size-medium"><b>From the history of the BMW 3 Series to sustainability myths and women </b></p>
            <p class="text-size-medium"> Changing Lanes, the official podcast of BMW, takes you on an exciting</p>
            <p class="text-size-medium"> Exclusive insights, inspiring interviews, fun facts and trivia about cars included!</p>
        </div>
    </div>
        <div class="page-section-bg">
            <div class="ul">
                <div class="container">
                    <h2 class="2">Company Statistics</h2>
                    <div class="row counter-wrap">
                        <div class="col-lg-3 col-md-6 col-xs-6">
                            <div class="counter counted">
                                <span class="licon-medal-empty"></span>
                                <div class="counter-inner">
                                    <h3><i id="1" class="glyphicon glyphicon-calendar"></i> 25</h3>
                                    <p>Years of Successful Work</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-6">
                            <div class="counter counted">
                                <span class="licon-smile"></span>
                                <div class="counter-inner">
                                    <h3 class="timer count-number" data-to="5970" data-speed="1500"><i id="1" class="glyphicon glyphicon-user"></i>     5970</h3>
                                    <p>Satisfied Clients</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-6">
                            <div class="counter counted">
                                <span class="licon-earth"></span>
                                <div class="counter-inner">
                                    <h3 class="timer count-number" data-to="17" data-speed="1500"><i id="1" class="glyphicon glyphicon-globe"></i> 17</h3>
                                    <p>Sealer Branches</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-6">
                            <div class="counter counted">
                                <span class="licon-car2"></span>
                                <div class="counter-inner">
                                    <h3  class="timer count-number" data-to="44278" data-speed="1500"><i id="1" class="glyphicon glyphicon-shopping-cart"></i>  44278</h3>
                                    <p>Vehicles For Sale</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-section half-bg-col">
                <div class="img-col-right"><div class="col-bg" data-bg="images/975x480_img1.jpg"></div></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="text">
                                <h2><b>Auto Service and Repair</b></h2>
                                <p>Be it an inspiring interview, exciting stories, helpful tips or deeper insights into the BMW world, Changing Lanes, the official podcast of BMW, serves up a wide range of topics that keeps you in the loop  on technology, sustainability, cars, design, and motorsport </p>
                                <p class="text-size-medium"><b>
                                        A meeting between two design giants: One is the most influential car designer of the 20th century                                    </b></p>
                                <p> Nicki Shields and Jonathan Tilley ponder on the best race cars, provide historical insights about women in the automotive industry, and interview guests such as BMW i designer Kai Langer. </p>
                                <a id="hai" href="#">Schedule a Service Appointment</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img width="585" height="270" src="/carworld/room1.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>`

</div>




<div class="thanhtich">
    <div class="page-section half-bg-col">
        <div class="img-col-left"><div class="col-bg" data-bg="images/975x480_img2.jpg"></div></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img width="555" height="270" src="/carworld/room2.jpg">
                </div>
                <div class="col-md-6">
                    <div class="text">
                        <h2><b>Car Loans and Auto Financing</b></h2>
                        <p>
                            With humor, passion, and depth, they provide answers to the questions that keep BMW fans busy.                        </p>
                        <p class="text-size-medium"><b>
                                Then the question is about the past and the future: What do you feel when you see the beautiful BMW M1                             </b></p>
                        <p>
                            So if you've always wanted to know how an iPhone can be used as a car key or how the BMW slogan came to be, give the podcast a listen, and immerse yourself with us into the automotive world of BMW.                        </p>
                        <a id="hai" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="last">
    <div class="page-section half-bg-col">
        <div class="img-col-right"><div class="col-bg" data-bg="images/975x480_img3.jpg"></div></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text">
                        <h2><b>Auto Insurance</b></h2>
                        <p>
                            From the FIA Formula E Championship, to Goodwood Festival & Revival, to pit reports at the Blancpain GT Series, Nicki Shields has seen a lot in her career as a presenter. Niki Lauda, Alain Prost, Lewis Hamilton and Nico Rosberg are just some of the big names in the motorsport world she has interviewed.                        </p>
                        <p class="text-size-medium"><b>
                                The other is leading the design for the entire BMW Group into a new, fascinating, yet challenging era                            </b></p>
                        <p>
                            Not only is her reputation as a motorsport presenter top notch - her FIA awards and Autosport Awards speak for themselves. She has been an advocate of hybrid and all-electric vehicles for years, strives to live a sustainable lifestyle, and in that wake has hosted series for CNN such as "Supercharged" and "Saved By the Future." As the first female media representative, she drove the Formula E race car and most recently the all-electric SUV in the new Extreme E racing series.                        </p>
                        <a id="hai" href="#">Read More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img width="555" height="270" src="/carworld/room3.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("footer.ejs") %>
</body>
</html>