<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Accessories</title>
    <link rel="stylesheet" href="/css/acces.css">

    <%- include("css.ejs") %>
</head>
<body>
<%- include("search_home.ejs")%>
<%- include("header.ejs") %>
<div class="acc1">
    <img width="100%" height="400px" src="/img/banner_aces.png">
    <div class="mainn">
        <h4><u>Genuine Parts</u></h4>
        <h3>Top quality for optimum performance.</h3>
    </div>
    <div class="first">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Genuine Parts</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">GenuineParts v.non-genuine parts</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="imgfirst">
                    <img src="/carworld/merc1.jpg">
                </div>
                <div class="textfirst">
                    <p id="text2">Mercedes-Benz GenuineParts are state-of-the-art thanks to precisely defined manufacturer specifications and comprehensive controls. Your advantages at a glance:</p>
                    <p id="text1"><i class="glyphicon glyphicon-ok"></i>Excellent quality, checked safety and reliability</p>
                    <p id="text1"><i class="glyphicon glyphicon-ok"></i>Developed specifically for your vehicle</p>
                    <p id="text1"><i class="glyphicon glyphicon-ok"></i>The best choice when it comes to your vehicle's handling characteristics, comfort and value retention</p>
                    <p id="text1"><i class="glyphicon glyphicon-ok"></i>Long service life and outstanding price/performance ratio</p>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <div class="imgfirst">
                    <img width="468px" height="263px" src="/carworld/acc2.jpeg">
                </div>
                <div class="textfirst">
                    <p id="text2">Mercedes-Benz GenuineParts are state-of-the-art thanks to precisely defined manufacturer specifications and comprehensive controls. Your advantages at a glance:</p>
                    <p id="text1">Even if it says 'Mercedes-Benz', unfortunately you're not always getting Mercedes-Benz. Counterfeiters are increasingly specialising in copying vehicle replacement parts. More and more often this practice extends to safety-relevant parts such as brake linings, windscreen wipers, suspension components or filters. Counterfeit parts often seem deceptively genuine, to the point that not even experts can easily identify them at first glance.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainn2">
    <h4><u>Highlight Genuine Parts</u></h4>
    <h2>Consequently GenuineParts including patented exclusive parts.</h2>
    <p>To take advantage GenuineParts offer excellent quality, proven safety and a high level of reliability. They were developed especially for your vehicle and are thus the first choice in terms of handling characteristics, comfort and vehicle value retention. In addition, their great durability and outstanding cost-benefit ratio make Mercedes-Benz GenuineParts particularly economically efficient.</p>
</div>
<div class="listphutung">
    <div class="col-md-4">
        <img width="370px" height="207px" src="/carworld/acc3.jpg">
    </div>
    <div class="col-md-4">
        <img width="370px" height="207px" src="/carworld/acc4.jpg">
    </div>
    <div class="col-md-4">
        <img width="370px" height="207px" src="/carworld/acc5.jpg">
    </div>
    <div class="col-md-4">
        <img width="370px" height="207px" src="/carworld/acc6.jpg">
    </div>
    <div class="col-md-4">
        <img width="370px" height="207px" src="/carworld/acc7.jpg">
    </div>
    <div class="col-md-4">
        <img width="370px" height="207px" src="/carworld/acc8.jpg">
    </div>
</div>

<div class="videoo">
    <div class="mainn3">
        <h4>
            <h4><u>Genuine Oil</u></h4>
            <h2>Which oil is the right one?</h2>
        </h4>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-oLQPFzyfJE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<div class="mainn4">
    <h4>
        <h4><u>Genuine Care Products</u></h4>
        <h2>For a sparkling appearance.</h2>
    </h4>
</div>
<div class="second">
    <div class="imgsecond">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QXgjaHufIU4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </div>
    <div class="textsecond">
        <p id="text2">Products ensure that it maintains its impressive appearance and value – highly effectively, sustainably, and with the emphasis on preserving materials and the environment.</p>
        <p>Your Mercedes has to contend with a wide range of environmental factors day after day. There are matching Mercedes-Benz Care products for every season and every area of the vehicle. Selected ingredients have been geared towards the surfaces with maximum effect. Consequently, the value and shine of your Mercedes are comprehensively protected and sustainably preserved. Our products preserve materials and feature sophisticated ecological characteristics.</p>
        <div class="font">
            <a href="#"> <i class="glyphicon glyphicon-chevron-right"></i> Get touch here! </a>
        </div>
    </div>
</div>

<%- include("footer.ejs") %>
</body>
</html>