<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Creation</title>
    <link rel="stylesheet" href="/css/aboutus.css">
    <%- include("css.ejs") %>
</head>
<body>
<%- include("search_home.ejs")%>
<%- include("header.ejs") %>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img src="/carworld/cre1.jpg">
            </div>
            <div class="text12">
                <p>Nguyen Quang Thai <i class="glyphicon glyphicon-calendar"></i> 73K <i class="glyphicon glyphicon-comment">17K</i></p>
                <div style="font-size: 23px;font-weight: bold" >Selling Your New Cars?</div>
                <p>
                    From musical performer from America to Changing Lanes Host in Germany: Jonathan Tilley has experienced a lot in his career. In 2006, he swapped his dancing shoes for a microphone and headphones and lent his voice to various companies.                 </p>
            </div>
        </div>


        <div class="col-md-4">
            <div>
                <img src="/carworld/cre2.jpg">
            </div>
            <div class="text12">
                <p> Pham Duy Hung <i id="mot" class="glyphicon glyphicon-calendar"></i> 24K <i id="mot" class="glyphicon glyphicon-comment"></i>12K</p>
                <div style="font-size: 23px;font-weight: bold" >Find Your Dream Car</div>
                <p>
                    Since the birth of Changing Lanes, he has reported on the history of the BMW 3 Series, explained where the BMW slogan comes from, or interviewed inspiring people for the podcast - like his childhood hero Alex Zanardi in Episode #006. And when he's not behind the mic for Changing Lanes, he travels the world and discovers the local cuisine.                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <img src="/carworld/cre3.jpg">
            </div>
            <div class="text12">
                <p>Ha Hoang Hung <i id="mot" class="glyphicon glyphicon-calendar"></i> 73K <i id="mot" class="glyphicon glyphicon-comment"></i>17K</p>
                <div style="font-size: 23px;font-weight: bold" >Buying a Best Sports Car</div>
                <p>
                    From breathtaking scenic routes to bustling metropoles, from stunning design to conscious sustainability, from iconic heroes of the past to high-tech power houses on wheels of the future – mobility has never been more fascinating – and automobile advancement never so exciting and promising – as it is today.                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <img src="/carworld/audi.jpg">
            </div>
            <div class="text12">
                <p>Tran Van Thanh <i id="mot" class="glyphicon glyphicon-calendar"></i> 64K <i id="mot" class="glyphicon glyphicon-comment"></i>22K</p>
                <div style="font-size: 23px;font-weight: bold" >Try get a new car</div>
                <p>
                    With BMW.com, we offer you a platform that brings you closer to this fascination and the latest technological and lifestyle trends. With stories focusing on topics like mobility, heritage, our shared future and recent milestones, facts, insights, recent and future BMW icons, we invite you inside the BMW universe to explore and enjoy.                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <img  src="/carworld/bmw.jpg">
            </div>
            <p>Maria Blank <i id="mot" class="glyphicon glyphicon-calendar"></i> 12K <i id="mot" class="glyphicon glyphicon-comment"></i>15K</p>
            <div style="font-size: 23px;font-weight: bold" > Sports Car</div>
            <p>
                Pure listening pleasure: Take a unique dive into the BMW universe with BMW podcasts! Changing Lanes, the official podcast from BMW, takes you on a thrilling journey behind the scenes at BMW. Exclusive insights, inspiring interviews            </p>
        </div>
        <div class="col-md-4">
            <div>
                <img  src="/carworld/merc.jpg">
            </div>
            <div class="text12">
                <p>Maria Blank <i class="glyphicon glyphicon-calendar"></i> 98K <i class="glyphicon glyphicon-comment"></i>54K</p>

                <div style="font-size: 23px;font-weight: bold" >Buying a Best Sports Car</div>
                <p>
                    The innovative Hypnopolis podcast series will launch you into an audio motion picture for your mind that combines science fiction storytelling with current topics on sustainability and electromobility.                </p>
            </div>
        </div>
    </div>
</div>

<%- include("footer.ejs") %>
</body>
</html>