<link rel="stylesheet" href="/css/creation.css">
<%- include("css.ejs") %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>
<%- include("header.ejs") %>
<a href="#"><div class=" col-lg-4">
    <div class="img12">
        <img width="355" height="237" src="/carworld/cre1.jpg">
    </div>
    <div class="text12">
        <p>Nguyen Quang Thai <i class="glyphicon glyphicon-calendar"></i> 73K <i class="glyphicon glyphicon-comment">17K</i></p>
        <h2>Selling Your New Cars?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy,</p>
    </div>
</div>
</a>

<a href="#"><div class="col-lg-4">
    <div class="img12">
        <img width="355" height="237" src="/carworld/cre2.jpg">
    </div>
    <div class="text12">
        <p> Pham Duy Hung <i class="glyphicon glyphicon-calendar"></i> 24K <i class="glyphicon glyphicon-comment">12K</i></p>
        <h2>Find Your Dream Car</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy,</p>
    </div>
</div>
</a>

<a href="#"><div class="col-lg-4">
    <div class="img12">
        <img width="355" height="237" src="/carworld/cre3.jpg">
    </div>
    <div class="text12">
        <p>Ha Hoang Hung <i class="glyphicon glyphicon-calendar"></i> 73K <i class="glyphicon glyphicon-comment">17K</i></p>
        <h2>Buying a Best Sports Car</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy,</p>
    </div>
</div>
</a>

<a href="#"><div class="col-lg-4">
    <div class="img12">
        <img width="355" height="237" src="/carworld/audi.jpg">
    </div>
    <div class="text12">
        <p>Tran Van Thanh <i class="glyphicon glyphicon-calendar"></i> 64K <i class="glyphicon glyphicon-comment">22K</i></p>
        <h2>Try get a new car</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy,</p>
    </div>
</div>
</a>

<a href="#"><div class="col-lg-4">
    <div class="img12">
        <img width="355" height="237" src="/carworld/bmw.jpg">
    </div>
    <div class="text12">
        <p>Maria Blank <i class="glyphicon glyphicon-calendar"></i> 12K <i class="glyphicon glyphicon-comment">15K</i></p>
        <h2>Find Your Dream Car</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy,</p>
    </div>
</div>
</a>

<a href="#"><div class="col-lg-4">
    <div class="img12">
        <img width="355" height="237" src="/carworld/merc.jpg">
    </div>
    <div class="text12">
        <p>Maria Blank <i class="glyphicon glyphicon-calendar"></i> 98K <i class="glyphicon glyphicon-comment">54K</i></p>

        <h2>Selling Your New Cars?</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy,</p>
    </div>
</div>
</a>
<div class="latts">
</div>
<!--<%- include("footer.ejs") %>-->
<script type="text/javascript" src="/jQuery/jquery3.6.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script></script>
</body>