<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Develop</title>
    <%- include("css.ejs") %>
    <link rel="stylesheet" href="/css/develop.css">

</head>
<body>
<%- include("search_home.ejs")%>
<%- include("header.ejs") %>
<img width="100%" height="600" src="/carworld/bannerdeve.jpg">



<div class="main-2">
    <div class="col-md-6">
        <div class="textmain2">
            <h2><b>"Factory 56".</b></h2>
            <p>
                Eight months after the foundation stone was laid for one of the world’s most cutting-edge automotive manufacturing sites, Mercedes-Benz Cars is giving its first in-depth insights into the underlying principles at "Factory 56".
            </p>
            <div class="fonticon">
                <a href="#"> <i class="glyphicon glyphicon-chevron-right"></i> Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img src="/carworld/devel33.jpg">
    </div>
</div>


<div class="road">
    <h3>
        <u>
            On the road to sustainable production
        </u>
    </h3>
    <h2>
        EQC x sustainability: the sustainability check.
    </h2>
    <h4>
        From recycled plastic through to renewable raw materials – with more than 100 sustainable components, the EQC’s design philosophy is imbued with a sense of modern, sustainable luxury. Find out how this is reflected in the EQC in practice.    </h4>
</div>
<div class="video">
    <iframe width="1150" height="645" src="https://www.youtube.com/embed/ZE0ssINB9Rk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="font">
    <a href="#"> <i class="glyphicon glyphicon-chevron-right"></i> Go to the EQC. </a>
</div>
<div class="chiacolmd5">
    <div class="col-md-5">
        <img src="/carworld/deve6.jpg">
        <p>
            Conserving, recycling and reusing resources

            From the value chain to the value cycle. Global demand for mobility is growing just as our resources are shrinking. We are taking responsibility, severing the tie between our consumption of resources and the growth of our manufacturing output.
        </p>
    </div>
    <div class="col-md-5">
        <img src="/carworld/deve5.jpeg">
        <p>
            Environmentally certified Mercedes-Benz models.

            Verified environmental certificates document how eco-friendly our vehicles are. Here, you can find full information on consumption, emissions and life cycle assessment, and also on the use of renewable raw materials and recyclates.
        </p>
    </div>
</div>
<div class="last1">
    <div class="col-md-3">
        <div class="chiacolmd3">
            <a href="#">
                <img src="/carworld/deve9.jpeg">
            </a>
            <h3> The New EQA</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="chiacolmd3">
            <a href="#">
                <img src="/carworld/deve10.jpg">
            </a>
            <h3> ALL EQ models</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="chiacolmd3">
            <a href="#">
                <img src="/carworld/deve11.jpg">
            </a>
            <h3>The EQ Ready app</h3>
        </div>
    </div>
</div>

<%- include("footer.ejs") %>
</body>
</html>