<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
<footer class="footer">
        <div class="container footer-inner">
                <div class="row">
                        <div class="col-md-4">
                                <div class="footer-item clearfix">
                                        <h4>
                                                Contact Info
                                        </h4>
                                        <ul class="contact-info">
                                                <li>
                                                        <i class="flaticon-pin"></i>8 Ton That Thuyet, Cau Giay, Ha Noi
                                                </li>
                                                <li>
                                                        <i class="flaticon-mail"></i><a href="mailto:info@carriomotors.com">info@carriomotors.com</a>
                                                </li>
                                                <li>
                                                        <i class="flaticon-phone"></i><a href="tel:+55-417-634-7071">+0477 85X6 552</a>
                                                </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                        <div class="social-list-2">
                                                <ul>
                                                        <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                                        <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="footer-item">
                                        <h4>
                                                Useful Links
                                        </h4>
                                        <ul class="links">
                                                <li>
                                                        <a href="/">Home</a>
                                                </li>
                                                <li>
                                                        <a href="about.html">About Us</a>
                                                </li>
                                                <li>
                                                        <a href="services.html">Services</a>
                                                </li>
                                                <li>
                                                        <a href="contact.html">Contact Us</a>
                                                </li>
                                        </ul>
                                </div>
                        </div>

                        <div class="col-md-4">
                                <div class="footer-item clearfix">
                                        <h4>Subscribe</h4>
                                        <div class="Subscribe-box">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
                                                <form class="form-inline d-flex" action="#">
                                                        <input class="form-control" type="email" id="email" placeholder="Email Address...">
                                                        <button class="btn button-theme" type="submit"><i class="fa fa-paper-plane"></i></button>
                                                </form>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>


        <!-- Import thư viện JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
                // kéo xuống khoảng cách 500px thì xuất hiện nút Top-up
                var offset = 500;
                // thời gian di trượt 0.75s ( 1000 = 1s )
                var duration = 750;
                $(function(){
                        $(window).scroll(function () {
                                if ($(this).scrollTop() > offset)
                                        $('#top-up').fadeIn(duration);else
                                        $('#top-up').fadeOut(duration);
                        });
                        $('#top-up').click(function () {
                                $('body,html').animate({scrollTop: 0}, duration);
                        });
                });
        </script>
        <div title="Về đầu trang" id="top-up">
                <i class="fas fa-chevron-circle-up"></i></div>x
</footer>