<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
<footer class="footer">
        <div class="container footer-inner">
                <div class="row">
                        <div class="col-md-4">
                                <div class="footer-item clearfix">
                                        <h4>
                                                Contact Info
                                        </h4>
                                        <ul class="contact-info">
                                                <li>
                                                        <i class="flaticon-pin"></i><a href="https://www.google.com/maps/place/8+T%C3%B4n+Th%E1%BA%A5t+Thuy%E1%BA%BFt,+M%E1%BB%B9+%C4%90%C3%ACnh,+C%E1%BA%A7u+Gi%E1%BA%A5y,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam/@21.0288108,105.7811094,17z/data=!4m5!3m4!1s0x3135ab4cd0c66f05:0xea31563511af2e54!8m2!3d21.0288058!4d105.7826865">8 Ton That Thuyet, Cau Giay, Ha Noi</a>
                                                </li>
                                                <li>
                                                        <i class="flaticon-mail"></i><a href="mailto:info@carriomotors.com">info@carriomotors.com</a>
                                                </li>
                                                <li>
                                                        <i class="flaticon-phone"></i><a href="tel:0329226456">0329 226 456</a>
                                                </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                        <div class="social-list-2">
                                                <ul>
                                                        <li><a href="https://www.facebook.com/" class="facebook-bg"><i class="fa-brands fa-facebook"></i></a></li>
                                                        <li><a href="https://twitter.com/" class="twitter-bg"><i class="fa-brands fa-twitter"></i></a></li>
                                                        <li><a href="https://www.youtube.com/" class="google-bg"><i class="fa-brands fa-youtube"></i></a></li>
                                                        <li><a href="https://www.linkedin.com/" class="linkedin-bg"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                                </ul>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="footer-item">
                                        <h4>
                                                Useful Links
                                        </h4>
                                        <ul class="links">
                                                <li>
                                                        <a href="/">Home</a>
                                                </li>
                                                <li>
                                                        <a href="/aboutus">About Us</a>
                                                </li>
                                                <li>
                                                        <a href="/warranty">Services</a>
                                                </li>
                                                <li>
                                                        <a href="/contact">Contact Us</a>
                                                </li>
                                        </ul>
                                </div>
                        </div>

                        <div class="col-md-4">
                                <div class="footer-item clearfix">
                                        <h4>Subscribe</h4>
                                        <div class="Subscribe-box">
                                                <p>Get more information and latest updates from us</p>
                                                <form class="form-inline d-flex" action="#">
                                                        <input class="form-control" type="email" id="email" placeholder="Email Address...">
                                                        <button class="btn button-theme" type="submit"><i class="fa fa-paper-plane"></i></button>
                                                </form>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>

                var offset = 500;

                var duration = 35;
                $(function(){
                        $(window).scroll(function () {
                                if ($(this).scrollTop() > offset)
                                        $('#top-up').fadeIn(duration);else
                                        $('#top-up').fadeOut(duration);
                        });
                        $('#top-up').click(function () {
                                $('body,html').animate({scrollTop: 0}, duration);
                        });
                });
        </script>
        <div title="Về đầu trang" id="top-up">
                <i class="fas fa-angle-double-up"></i>
        </div>

</footer>