<link rel="stylesheet" href="/css/list-product.css">
<header class="main-header sticky-header header-with-top" id="main-header-4">
        <nav class="navbar navbar-expand-lg navbar-light">
                <div class="header-left">
                        <a class="navbar-brand logos" href="/">
                                <img src="/img/logos/cm_logo.png">
                        </a>
                </div>
                <button class="navbar-toggler" id="drawer" type="button">
                        <span class="fa fa-bars"></span>
                </button>
                <div class="header-centar">
                        <div class="navbar-collapse collapse" id="navbar">
                                <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                                                        Home
                                                </a>
                                        </li>
                                        <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        CAR LINES
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                        <li><a class="dropdown-item" href="/product">ALL CAR</a></li>
                                                        <%for(var i=0;i<brandList.length;i++){%>
                                                                <li><a href="/list-product?BrName=<%= brandList[i].BrName%>" class="dropdown-item"><%= brandList[i].BrName%></a></li>
                                                        <%}%>
                                                </ul>
                                        </li>


                                        <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        SERVICES
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                        <li><a class="dropdown-item" href="/warranty">Warranty</a></li>
                                                        <li><a class="dropdown-item" href="/accessories">Accessories</a></li>
                                                </ul>
                                        </li>


                                        <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        CAR WORLD
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                        <li><a class="dropdown-item" href="/creation">Creation</a></li>
                                                        <li><a class="dropdown-item" href="/design">Design and ideas</a></li>
                                                        <li><a class="dropdown-item" href="/develop">Develope</a></li>
                                                </ul>
                                        </li>

                                        <li class="nav-item ">
                                                <a class="nav-link dropdown-toggle" href="/contact" id="navbarDropdownMenuLink"  aria-haspopup="true" aria-expanded="false">
                                                        CONTACT
                                                </a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link dropdown-toggle" href="/aboutus" id="navbarDropdownMenuLink"  aria-haspopup="true" aria-expanded="false">
                                                        ABOUT US
                                                </a>
                                        </li>

                                </ul>
                        </div>
                </div>
                <div class="header-right">
                        <div class="contact-now">
                                <div class="left">
                                        <i class="fa fa-phone"></i>
                                </div>
                                <div class="right">
                                        <h5>Call Free</h5>
                                        <h4><a href="tel:0329226456">0329.226.456</a></h4>
                                </div>
                        </div>
                </div>
        </nav>
</header>