<link rel="stylesheet" href="/css/search-home.css">
<div class="container hea-der">
            <div class="box-box">
                <div class="container-100">
                    <form action="/search" method="get">
                        <span><button type="submit" class="icon-icon"></button></span>
                        <input name="search" type="search" id="search" placeholder="Search..." />
                    </form>
                </div>
            </div>
</div>