#hai{
    font-size: 15px;
}
.last{
    padding-bottom: 100px;
    padding-top: 50px;
}
.welcome{
    padding-top: 100px;
    padding-left: 50px;
}
.thanhtich{
    padding-left: 50px;
}
.ul{
    background-color: #e2e5e5;
    margin-top: 15px;
    margin-bottom: 20px;
}
