.first{
    width: 100%;
}
.imgfirst{
    padding-top: 30px;
    padding-left: 30px;
    width: 50%;
    float: left;
}
.textfirst{
    padding-top: 30px;
    width: 50%;
    padding-right: 30px;
    float: right;
}
i{
    padding-right: 10px;
}