
.mainnn{
    width: 100%;
    padding-bottom: 50px;
}
.imgmain12{
    padding-left: 50px;
    width: 50%;
    float: left;
}
.textmain12{
    width: 50%;
    float: right;
    padding-right: 100px;
}
.road{
    padding-left: 40px;
    width: 60%;
    padding-bottom: 50px;
    padding-top: 50px;
}
.fonticon{
    background-color: #e6f5ff;
    width: 100px;
}
.main-2{
    padding-top: 50px;
    padding-right: 100px;
}
.video{
    padding-left: 50px;
}
.font{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.col-md-5{
    margin: 30px;
}
.col-md-5.p{
    padding-left: 10px;
}
.col-md-3{
    /*margin: 35px;*/
}
.last1{
    padding-top: 500px;
    padding-bottom: 400px;
}
