.intro{
    background-color: #d71e1e;
    color: #eeeeee;
    font-size: 20px;
}
.intro-trai li{
    float: left;
    width: calc(50% - 62px);
    border:1px;
    margin: 15px;
    padding: 15px;
    color: #EEEEEE;
}
.intro-phai{
    float: right;
    width: calc(50% - 62px);
    border: 1px;
    margin: 15px;
    padding: 15px;
}
.intro-trai ul li{
    list-style: none;
}
.intro-phai ul{
    float: right;

}